/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}

.about-image {
  max-width: 20%;
  display: block;
  margin: 20px auto;
}
