/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  h4 {text-align: center;}
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}